.header-space {
  margin-top: 25px;
  font-style: italic;
}

.header-space span {
  color: #46ad44;
  font-size: 1.55rem;
}

.header-space h1 {
  color: #2864ae;
}

.header-text {
  color: #555;
  font-size: 16px;
  font-style: italic;
}

// For center align icons
[class^="bi"], [class*=" bi-"] {
    display: inline-block;
    width: 100%;
}

div i, .col i {
  font-size: 40px;
  text-align: center;
}

.requests-link {
  color: #555;
}

.requests-link:hover {
  text-decoration: none;
  color: #2864ae;
}

.br-item {
  background-color: $white;
  margin: 0 45px;;
}
