.header-space {
  margin-top: 25px;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.header-space span {
  color: #46ad44;
  font-size: 1.55rem;
}

.header-space h1 {
  color: #2864ae;
}

.header-text {
  color: #555555;
  font-size: 16px;
  font-style: italic;
}

// For center align icons
[class^="bi"], [class*=" bi-"] {
    display: inline-block;
    width: 100%;
}

.col i {
  font-size: 40px;
  text-align: center;
  margin-bottom: 8px;
}

.requests-link {
  color: inherit;
}

.requests-link:hover {
  text-decoration: none;
  color: red;
}

.bi:hover {
  color: red;
}
