// Styles for request show view
.detail-type {
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;
  padding: 10x 0;
}

.detail-desc {
  color: #333;
  font-weight: 400;
  vertical-align: bottom;
  padding: 10x 0;
}

.header-text h4 {
  font-size: 1.3rem;
  color: #2864ae;
  margin-bottom: 10px;
}
