<% if notice %>
  <div class="br-message success" role="alert">
    <div class="icon">
      <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
    </div>
    <div class="content">
      <strong>Success. </strong><span><%= notice %></span>
    </div>
    <div class="close">
      <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="br-message warning" role="alert">
    <div class="icon">
      <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
    </div>
    <div class="content">
      <strong>Atention. </strong><span><%= alert %></span>
    </div>
    <div class="close">
      <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
<% end %>
