<div class="container">
  <h1>List of requests </h1>
  <h4><%= current_user.full_name %></h4>

  <ul class="list-group">
  <% @requests.each do |request| %>
    <li class="list-group-item" >
    <% if request.status == 'Realizada'  %>
      <i class="fas fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    <%= link_to request.instrument, request_path(request) %></li>
  <% end %>
  </ul>
</div>
