<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <div class="row header-space justify-content-center">
        <h1><span class="blue-word">Seu</span> Sistema de Requisição</h1>
      </div>
      <div class="row header-text justify-content-center">
        <p>Olá <strong> <%= current_user.full_name %>. </strong> Aqui é o espaço para gerenciar seu perfil e suas solicitações ao Inmetro</p>
      </div>
      <div class="row mt-1 px-sm-10xh">
        <div class="col mr-3">
          <%# <i class="far fa-user"></i> %>
          <i class="bi bi-person-square"></i>
          <p class="text-center"><%= link_to "Perfil", page_path(current_user), class: "requests-link" %></p>
        </div>
        <div class="col ml-3">
          <i class="fas fa-scroll"></i>
          <p class="text-center"><%= link_to "Solicitações", requests_path, class: "requests-link stretched-link" %></p>
        </div>
      </div>

      <p><%= link_to 'Create request', new_request_path, class: "br-button" %></p>
    </div>
  </div>
</div>
