<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <div class="row header-space">
        <h1><span class="blue-word">Seu</span> Cadastro</h1>
      </div>
      <div class="row header-text">
        <p> Aqui você pode editar os dados do seu cadastro.</p>
      </div>
      <div class="row">
        <%= link_to 'Voltar', pages_path, class: "br-button secondary mt-3 mt-sm-0" %>
      </div>
    </div>
  </div>
</div>
